@import "../../css/global.css";

.left-rightt {
  display: flex;
}

.services-section-top {
  background-color: #ffe6d2;
  padding-top: 96px;
  padding-bottom: 96px;
}
.services-text {
}
.services-p {
  font-weight: 500;
  padding-bottom: 12px;
}
.services-h {
  width: 622px;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  padding-bottom: 24px;
}
.services-pa {
  padding-bottom: 40px;
  width: 624px;
}

.services-heading {
  padding-top: 68px;
}

.heading {
  padding-top: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.our-process {
}

.our-process-class {
  background-image: url(../../images/shapes-home-right.svg);
  background-position: right top;
  background-repeat: no-repeat;
  margin-top: 96px;
}
.our-process-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #000000;
  opacity: 87%;
}
.our-prosess-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  width: 100%;
  max-width: 733px;
  margin-bottom: 16px;
}
.our-process-big-paragraph {
  width: 100%;
  max-width: 642px;
  opacity: 87%;
  margin-bottom: 68px;
}

/* Discover */

.discover-class,
testing {
  display: flex;
  gap: 48px;
}

.discover-text {
  display: flex;
  padding-top: 30px;
  padding-left: 95px;
  width: 100%;
  max-width: 395px;
  border: 1px solid #2325362b;
  margin-bottom: 96px;
  padding-bottom: 28px;
  gap: 16px;
  background-image: url(../../images/discover..svg), url(../../images/horizontal.svg),
    url(../../images/01.svg);
  background-repeat: no-repeat;
  background-position: 39px 39px, bottom center, 320px 12px;
}
.discover-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #000;
}
.discover-paragraph {
  opacity: 60%;
}

.designing-text {
  display: flex;
  padding-top: 30px;
  padding-left: 95px;
  padding-right: 11px;
  width: 100%;
  gap: 16px;
  max-width: 395px;
  border: 1px solid #2325362b;
  margin-bottom: 96px;
  padding-bottom: 28px;

  background-image: url(../../images/designing.svg), url(../../images/02.svg);
  background-repeat: no-repeat;
  background-position: 39px 39px, 320px 12px;
}

.devolopment-text {
  display: flex;
  padding-top: 30px;
  padding-left: 95px;
  padding-right: 11px;
  width: 100%;
  gap: 16px;
  max-width: 395px;
  border: 1px solid #2325362b;
  margin-bottom: 96px;
  padding-bottom: 28px;

  background-image: url(../../images/developmen.svg), url(../../images/03.svg);
  background-repeat: no-repeat;
  background-position: 39px 39px, 320px 12px;
}

.testing-text {
  display: flex;
  padding-top: 30px;
  padding-left: 95px;
  padding-right: 11px;
  width: 100%;
  gap: 16px;
  max-width: 395px;
  border: 1px solid #2325362b;
  margin-bottom: 96px;
  padding-bottom: 28px;

  background-image: url(../../images/testing..svg), url(../../images/04.svg);
  background-repeat: no-repeat;
  background-position: 39px 39px, 320px 12px;
}

.deploymet-text {
  display: flex;
  padding-top: 30px;
  padding-left: 95px;
  padding-right: 11px;
  width: 100%;
  gap: 16px;
  max-width: 395px;
  border: 1px solid #2325362b;
  margin-bottom: 96px;
  padding-bottom: 28px;

  background-image: url(../../images/developmen.svg), url(../../images/05.svg);
  background-repeat: no-repeat;
  background-position: 39px 39px, 320px 12px;
}

.mainte-text {
  display: flex;
  padding-top: 30px;
  padding-left: 95px;
  padding-right: 11px;
  width: 100%;
  gap: 16px;
  max-width: 395px;
  border: 1px solid #2325362b;
  margin-bottom: 96px;
  padding-bottom: 28px;

  background-image: url(../../images/mainteanse.svg), url(../../images/06.svg),
    url(../../images/horizontal.svg);
  background-repeat: no-repeat;
  background-position: 39px 39px, 320px 12px, top center;
}

/* our customber start */
.our-custombers {
  background-color: #f9f9ff;
  display: flex;
  padding-top: 102px;
}
.left {
  width: 502px;
}
.our-customber-ico {
  padding-bottom: 16px;
}
.our-customber-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  padding-bottom: 16px;
}
.our-customber-small-paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 16px;
}
.our-customber-big-paragraph {
  opacity: 87%;
  padding-bottom: 24px;
}

.out-custombe-img {
  padding-bottom: 14px;
}

.out-customber-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 119px;
}

.left-right {
  display: flex;
}

.right-class {
  width: 607px;
  background-color: #fff;
  margin-left: auto;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 42px;
  background-image: url(../../images/vertikal.svg), url(../../images/chiz.svg),
    url(../images/logoipsum.svg);
  background-repeat: no-repeat;
  background-position: center left, 510px -2px, 460px 265px;
}
