@import "../../../css/global.css";

.blog-inner {
}
.blog-inner-rectangle {
  padding-top: 96px;
  padding-bottom: 24px;
  background-image: url(../../../images/shape-right-btn.svg);
  background-repeat: no-repeat;
  background-position: right center;
}
.blog-inner-heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    width: 731px;
    padding-bottom: 24px;
}
.blog-inner-paragraph {
    opacity: 87%;
    width: 710px;
    padding-bottom: 32px;
}
.andrew {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 100px;
}

.blog-inner-img {
    background-image: url(../../../images/shapes-veertikal.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.blog-inner-big-paragraph {
    padding-top: 96px;
    align-items: center;
    width: 842px;
    margin-right: auto;
    margin-left: auto;
}
.blog-inner-heading-paragraph {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    
}
.blog-inner-p {
    padding-top: 24px;
}
.blog-inner-small-heading {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    padding-top: 40px;
    padding-bottom: 24px;
}

